/*
	View
*/
#view.ng-enter, #view.ng-leave {
	-webkit-transition: 0.3s ease-out all;
	-moz-transition: 0.3s ease-out all;
	-o-transition: 0.3 ease-out all;
	transition: 0.3s ease-out all;
	position: absolute;
}
#view.ng-enter {
	-webkit-transform: translate(300px, 0px);
	transform: translate(300px, 0px);
	opacity: 0;
}
#view.ng-enter.ng-enter-active {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
}
#view.ng-leave {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
}
#view.ng-leave.ng-leave-active {
	-webkit-transform: translate(-300px, 0px);
	transform: translate(-300px, 0px);
	opacity: 0;
}