<div class="row">

	<div class="col-md-4"><img src="/images/knowledge.jpg"></div>

	<div class="col-md-6">
		<h4>Knowledge</h4>
		<p>My knowledge starting with the basic programming principes.</p>



		<h6>Languanges</h6>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Languange</th>
					<th>Knowledge</th>
					<th>Skill</th>
				</tr>
			</thead>
			<tbody>
				<tr class="success">
					<td>JavaScript</td>
					<td>Very Good</td>
					<td>Good</td>
				</tr>
				<tr class="success">
					<td>PHP</td>
					<td>Good</td>
					<td>Normal</td>
				</tr>
				<tr class="danger">
					<td>C#</td>
					<td>Not very good</td>
					<td>Little</td>
				</tr>

			</tbody>
		</table>

		<h6>Frameworks / Libraries</h6>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Framework/lib</th>
					<th>Knowledge</th>
					<th>Skill</th>
				</tr>
			</thead>
			<tbody>
				<tr class="success">
					<td>jQuery</td>
					<td>Very Good</td>
					<td>Good</td>
				</tr>
				<tr>
					<td>Laravel (PHP)</td>
					<td>Good</td>
					<td>Normal</td>
				</tr>
				<tr>
					<td>AngularJS</td>
					<td>Not good</td>
					<td>Little</td>
				</tr>
			</tbody>
	</div>

</div>