<div class="row">
	<div class="col-md-8 col-sm-9">
		<div class="panel panel-success">
			<div class="panel-body">
				<div id="knowledge-info">
					<h3>Knowledge</h3>
					<p>
						Hello there! In this panel you can browse my personal thinking about my knowledge. 
						The information will be updated as often as I think is necessary.
					</p>
					<p>
						<b>Note that</b> in the Misc tab you can found some info about 
						techniques, concepts, principles, etc.
					</p>
				</div>
				<knowledge-tabs></knowledge-tabs>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-3">
		<!-- <img alt="Knowledge tree" title="Knowledge tree" src="/images/knowledge.jpg" 
			class="img-responsive img-center" /> -->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>There is the important info we addition</h2>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
	</div>
</div>