<div class="row">
	<div class="col-md-8 col-sm-9">
		<div class="panel panel-success">
			<div class="panel-body">
				<div id="knowledge-info">
					<h3>Knowledge</h3>
					<p>
						Hello there! In this panel you can browse my personal thinking about my knowledge. 
						The information will be updated as often as I think is necessary.
					</p>
					<p>
						<b>Note that</b> in the Misc tab you can found some info about 
						techniques, concepts, principles, etc.
					</p>
				</div>
				<knowledge-tabs></knowledge-tabs>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-3">
		<img alt="Knowledge tree" title="Knowledge tree" src="/images/knowledge.jpg" 
			class="img-responsive img-center" />
	</div>
</div>